:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 4px#252525;
    background-color: #4d4d4d;
    color: white;
    background-image: linear-gradient(to top, #1f1f1f, #3b3b3c, #595a5c, #787b7d, #989ea0);
}

h1, h2, div {
    text-align: center;
    font-size: 80px;
}

#embed {
    margin: auto;
    margin-bottom: 50px;
}

.ludosLogo {
    margin-bottom: -100px;
    height: auto;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #141414;
    color: white;
    text-align: center;
    font-size: 25px;
}

.main {
    width: 32vw;
    height: auto;
    max-width: 800px;
    min-width: 300px;
    background-color: #4CAF50;
    border-style: solid;
    border-color: #1c551e;
    border-radius: 50px;
    color: #ffffff;
    text-shadow: none;
    font-size: 75px;
    padding: 30px 64px;
    cursor: pointer;
    box-shadow: 10px 5px 4px 2px #1c541e;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}

.main[disabled] {
    background: #808080;
    border-color: #505050;
    box-shadow: 12px 8px 4px 4px #444444;
    color: #3f3f3f;
    cursor: default;
}

.main:hover[disabled] {
    background-color: grey;
}

.main:active[disabled] {
    transform: scale(1.00);
}

.main:active {
    transform: scale(0.95);
}

.main:hover {
    background-color: #28722b;
    transform: scaleX(.95) scaleY(.95) rotate(-5deg);
}

.mirror, .revolt, .github, .youtube, .about {
    width: 25vw;
    min-width: 250px;
    max-width: 700px;
    display: inline-block;
    padding: 16px;
    border-style: solid;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: none;
    font-size: 25px;
    box-shadow: inset;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}

.mirror {
    color: #ffffff;
    background-color: #ceba47;
    border-color: #948500;
    box-shadow: 6px 4px 4px 2px #646601;
}

.revolt {
    color: #ff002b;
    background-color: #222324;
    border-color: #0c0c0c;
    box-shadow: 6px 4px 4px 2px #000000;
}

.github {
    color: #ffffff;
    background-color: #222324;
    border-color: #0c0c0c;
    box-shadow: 6px 4px 4px 2px #000000;
}

.youtube {
    color: #ffffff;
    background-color: #ff0000;
    border-color: #940000;
    box-shadow: 6px 4px 4px 2px #660101;
}

.about {
    color: #ffffff;
    background-color: #ff9900;
    border-color: #944f00;
    box-shadow: 6px 4px 4px 2px #662901;
}

.mirror:hover {
    background-color: #ceba47;
    transform: scale(0.95);
}

.revolt:hover {
    background-color: #131313;
    transform: scale(0.95);
}

.github:hover {
    background-color: #131313;
    transform: scale(0.95);
}

.youtube:hover {
    background-color: #c00000;
    transform: scale(0.95);
}

.about:hover {
    background-color: #c07300;
    transform: scale(0.95);
}